body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  background: #1a1d24;
}

#root {
  display: flex;
  justify-content: center;
  color: white;
}
