
/* Inicio header */

div.position-sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1a1d24;
    /* No sería mala práctica poner el valor 10 debido a que queremos que 
    siempre el header esté por encima de todo al hacer sticky */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 90px;
    background-color: #1a1d24;
    /* padding-inline: 50px; */
    /* block-size = height */
}



.header .nav ul {
    display: flex;
    align-items: center;
}

.header img {
    cursor: pointer;
}

.header .nav ul.menu {
    display: flex;
    align-items: center;
    gap: 25px;
    color: #ffffff;
}

.header .nav .menu .item {
    font-size: 14px;
    /* font-size = tamaño de fuente */
    font-weight: bold;
    /* font-weith = peso de fuente */
    text-transform: uppercase;
    /* text-transform = cambio entre mayúsculas y minúsculas */
    border-bottom: 2px solid transparent;
    /* se le ha puesto transparente para que 
    cuando se haga hover sobre los elementos no se
    suban arriba */
    padding-block-end: 5px;
    /* padding-block-end = padding bottom */
}

.header .nav .menu .item:hover {
    cursor: pointer;
    border-bottom: 2px solid #e0011a;
}

.header .nav ul.social {
    /* Es un contenedor flex pero en este caso se omite
    porque en la regla .header .nav ul ya está puesto el flex */
    gap: 15px;
}

.header .tools {
    display: flex;
    align-items: center;
    gap: 40px;
}


.header .menu .separator {
    font-size: 15px;
}

.header .separator {
    font-size: 25px;
    color: #737373;
}

.header svg {
    fill: #ffffff;
    inline-size: 23px;
    block-size: 23px;
    cursor: pointer;
    /* Fill Sirve para dar color al SVG */
    /* inline-size = width */
    /* block-size = height */
}

.header .search:hover {
    fill: #40f30a;
}

.header .twitter:hover {
    fill: #6de9ff;
}

.header .facebook:hover {
    fill: #0281e9;
}

.header .insta:hover {
    fill: #cb2e8e;
}

.header .youtube:hover {
    fill: #e0011a;
}




